.loading {
  margin-top: 20%;
  text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 40%;
}

.paginator {
  width: 100%;
  background-color: #fff;
  opacity: 0.9;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  font-weight: bold;
}

.posts {
  margin-bottom: 10%;
}

