<mat-toolbar color="warn">

  <span class="fill-remaining-space">
    <div *ngIf="isLoggedIn$ | async">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>
        <span>Main</span>
      </button>
      <button mat-menu-item [routerLink]="['/admin/create']" routerLinkActive="router-link-active">
        <mat-icon>list_alt</mat-icon>
        <span>Create</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
  </span>
  <span class="fill-remaining-space">Admin Panel</span>
</mat-toolbar>