<mat-card class="container">

  <mat-card-title class="title">Log in to admin panel</mat-card-title>

  <form class="form" [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width">
      <mat-label>Enter login</mat-label>
      <input matInput type="login" placeholder="Enter login" formControlName="login" name="login" id="login">
      <mat-error *ngIf="form.formGroup.controls['login'].touched">required login</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter pasword</mat-label>
      <input matInput type="password" placeholder="Enter password" formControlName="password" name="password"
        id="password">
      <mat-error *ngIf="form.formGroup.controls['password'].touched">required password</mat-error>
      <mat-error *ngIf="form.formGroup.controls['password'].dirty && form.formGroup.controls['password'].invalid">
        password must be more then 4 simbol
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <button type="submit" mat-raised-button color="warn" [disabled]="form.formGroup.invalid">Login</button>
  </form>

</mat-card>