.container {
  margin: 0 auto;
  margin-top: 10%;
  width: 100%;
  opacity: 0.95;
}

.form {
  margin-left: 5%;
  width: 90%;
}

.full-width {
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;

}

.title {
  text-align: center;
}

button {
  width: 100%;
  color: white;
  background-color: rgba(14, 13, 13, 0.808);
}
