<mat-card class="container">

  <mat-card-title class="title">Registration</mat-card-title>

  <form class="form" [formGroup]="form.formGroup" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width">
      <mat-label>Enter name:</mat-label>
      <input matInput type="text" placeholder="Homer" formControlName="name" name="name" id="name">
      <mat-error *ngIf="form.formGroup.controls['name'].touched">required name</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter surname:</mat-label>
      <input matInput type="text" placeholder="Simpson" formControlName="surname" name="surname" id="surname">
      <mat-error *ngIf="form.formGroup.controls['surname'].touched">required surname</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter email:</mat-label>
      <input matInput type="email" placeholder="example@gmail.com" formControlName="email" name="email" id="email">
      <mat-error *ngIf="form.formGroup.controls['email'].touched">required email</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter phone:</mat-label>
      <input matInput type="tel" placeholder="123456" formControlName="phone" name="phone" id="phone">
      <mat-error *ngIf="form.formGroup.controls['phone'].touched">required phone</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Enter password:</mat-label>
      <input matInput type="password" placeholder="minimum 7 character" formControlName="password" name="password"
        id="password">
      <mat-error *ngIf="form.formGroup.controls['password'].touched">required password</mat-error>
    </mat-form-field>
    <br>
    <br>

    <button type="submit" mat-raised-button color="primary" [disabled]="form.formGroup.invalid">Registration</button>
    <button type="submit" mat-raised-button [routerLink]="['/login']"
      routerLinkActive="router-link-active">Login</button>
  </form>

</mat-card>