<div class="wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
    </mat-card-header>

    <div class="date">
      <mat-card-subtitle>{{post.date | date:'medium'}}</mat-card-subtitle>
    </div>

    <mat-card-content>
      <p>
        <quill-view-html [content]="post.content"></quill-view-html>
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button color="primary" [routerLink]="['/post', post._id]">Open</button>
    </mat-card-actions>
  </mat-card>
</div>