table {
  width: 100%;
}

.table {
  margin-top: 4vh;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 20%;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.button {
  display: inline-block;
}

.button button {
  margin: 0 5px;
}
